<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Timer</title>
  </head>
  <body>
    <div class="nicelol">
    <h1>Timer</h1>
    


    <div>
      <span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>:<span id="millisecond">000</span>
    </div>
  
    <br />
  
    <button type="button" name="start" onclick="start()">start</button>
    <button type="button" name="pause" onclick="pause()">pause</button>
    <button type="button" name="reset" onclick="reset()">reset</button>
    <audio id="multiaudio4" src="./cheater.mp3" preload="auto"></audio>

    <br>
    <p>Warn at :::::</p>
    
  <input type="text" id="lname" name="lname"><br><br>
    <p>Still have to do</p>
  </div>

  
  

    <script src="../app/index.js"></script>
  </body>
</html>